@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "IS is best";
}

<!--A little about me-->
<!DOCTYPE html>

<h1>Jake Falagrady</h1>
<img src="img/Camp.jpg" height="200" width="200" />

<p>
    I am so excited to be a part of IS 413. I have really
    high hopes for what I'm going to accomplish in this class.
    Primarily, I'm excited to add a strongly-typed language to
    my resume. I also really look forward to working with APIs
    and React, as those will be helpful in my job. Generally,
    I love being able to just figure things out on my own
    in an efficient manner, and I know this class will help!
</p>
<ul>
    My top three jobs are:
    <li>Research Professor</li>
    <li>Data Engineer/Analyst</li>
    <li>Expert in the field of AI/ML</li>
</ul>


